@font-face {
  font-family: 'DejaVuSansMono';
  src: url('../assets/fonts/DejaVuSansMono.ttf');
}

@font-face {
  font-family: 'DejaVuSansMono';
  src: url('../assets/fonts/DejaVuSansMono-Oblique.ttf');
  font-style: italic;
}
